@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 28px;
  padding: 20px 30px 20px 20px;
  -webkit-box-shadow: 0px 0px 15px 5px black;
          box-shadow: 0px 0px 15px 5px black;
}

header a {
  width: 100px;
  height: 55px;
  text-decoration: none;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 40px;
  border: 3px dashed black;
  -webkit-transition: color .3s ease-in-out, border-color .3s ease-in-out;
  transition: color .3s ease-in-out, border-color .3s ease-in-out;
}

@media only screen and (max-width: 450px) {
  header a {
    padding: 20px;
  }
}

header a:hover {
  border-color: #00ADEE;
  color: #00ADEE;
}

header a img {
  width: 40%;
}

@media only screen and (max-width: 450px) {
  header a img {
    width: 75%;
  }
}

main {
  width: 100%;
  height: 100%;
  background-color: #202020;
  padding: 13% 10%;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 50px;
}

@media only screen and (max-width: 900px) {
  main {
    padding: 20% 10%;
  }
}

@media only screen and (max-width: 600px) {
  main {
    padding: 30% 10%;
  }
}

@media only screen and (max-width: 450px) {
  main {
    padding: 45% 10%;
  }
}

main section {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

main section div {
  width: 80%;
  max-width: 300px;
  max-height: 180px;
  border: 2px solid white;
  overflow: hidden;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

main section div:hover img {
  -webkit-transform: scale(1.05) rotate(-3deg);
          transform: scale(1.05) rotate(-3deg);
}

main section div:hover span {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

main section div a {
  color: white;
}

main section div span {
  all: unset;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  color: white;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 5px 0;
  z-index: 100;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  font-size: 16px;
  font-weight: bold;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  top: 40%;
  left: 0;
}

main section div img {
  width: 100%;
  display: block;
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@media only screen and (max-width: 380px) {
  main section div {
    max-height: 120px;
  }
}

main section p {
  color: white;
  width: 80%;
  max-width: 300px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main section span {
  font-size: 12px;
}

@media only screen and (min-width: 600px) {
  main {
    -ms-grid-rows: (400px)[2];
    -ms-grid-columns: (1fr)[2];
        grid-template: repeat(2, 400px)/repeat(2, 1fr);
    grid-row-gap: 0px;
  }
}

@media only screen and (min-width: 900px) {
  main {
    -ms-grid-rows: (400px)[2];
    -ms-grid-columns: (1fr)[3];
        grid-template: repeat(2, 400px)/repeat(3, 1fr);
    grid-row-gap: 0px;
  }
}
/*# sourceMappingURL=style.css.map */
